[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
pandas = "==0.22.0"
colorline = "==1.0.3"
numpy = "*"
matplotlib = "*"
sphinx = "*"

[requires]
python_version = "3.6"

[dev-packages]
